
@import "../../style/variables.scss";

 

.defaultClass {
  border-radius:4px;
  font-family: 'Goldman', cursive;
  font-weight: 400;
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size:14px;
    transition: all 0.2s ease;
    background-color: rgba-color($warning-dark,0.7);
    min-width: 150px;
    width: 100%;
    min-height: 40px;
    color: rgba(255,255,255,0.7);
    padding: 10px;
    overflow: hidden;
    cursor:pointer;
  
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 2.5em;
      height: 100%;
      background-color: rgba(#fff, 0.6);
      transform: translateX(-4em) skewX(-45deg);
    }
  
    &:hover {
      &:before {
        animation: move-light 0.7s;
      }
    }

    &:hover{
        background-color:$warning-dark;
      }
    
  }

  .btnDisabled{
    background-color:$warning;
     pointer-events: none; 
     
    }
  
  @keyframes move-light {
    from {
      transform: translateX(-4em) skewX(-45deg);
    }
    to {
      transform: translateX(25em) skewX(-45deg);
    }
  }




  @include responsive_lg{
    .defaultClass{
      font-size: 12px;
      padding: 5px;
      height: 30px;
      margin:unset;
    }

  }
