@import '../../style/variables.scss';

.card {
  width: 200px;
  height: 100px;
  background-color: rgb(55, 54, 54);
  color: white;
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
