@import "../../../../../../style/variables.scss";





  .commentContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    padding-left: 10px;
    width: 100%;
    gap: 20px;
    margin-bottom: 10px;
    &>*{
        color:white
    }
  }
  
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .commentWrapper {
    animation: slide-down 300ms ease-out forwards;
    padding-block: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .tree {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;
    border-left: 1px solid rgba(white, 0.7);
    border-bottom:1px solid rgba(white, 0.7);
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  
  .showComments {
    margin-bottom: -11px;
    padding: 5px;
    margin-left: 30px;
    z-index: 3;
    font-size: 12px;
    cursor: pointer;
  }
  
  .reply {
    font-size: 12px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .comment {
    background-color: black;
    padding: 5px;
    padding-inline:10px;
    display:flex;
    justify-content: space-between;
    line-height: 1.8;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;

    & svg{
      fill:rgba($light, 0.7);
      transition: all 0.2s linear;
    }
  
    &>button{
      background-color:transparent;
      border:none;
      outline:none;

      &:hover svg{
 

        fill:crimson;
      }
    }
  }
  



  .commentsContainer {
    flex-grow: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 40px;

  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  .buttonClass{
    min-height: 40px;
    padding:unset;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
  }

  .formClass{
    margin-top: unset!important;
      &>input{
          border-top-left-radius:8px;
          border-bottom-left-radius:8px;
        
        height: 40px;
    }
  }