@import "../../../../style/variables.scss";

.toolbarOff {
  display: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;




  & .rdw-editor-toolbar {
    color: $dark;
    
  }
}

.editorSize {
  height: 100%;
  width: 100%;
}


.wrapper {
  .rdw-block-dropdown {
    width: 130px;
  }
}


.public-DraftEditor-content {
  overflow: auto;
}
.public-DraftEditor-content > div {
  padding-inline: 15px;

  padding-top: 15px;
  padding-bottom: 15px;

  & * {
    font-size: revert;
  }
  & pre {
    color: black;
  }

  .rdw-image-alignment {
    color: black;
  }
}

.buttonSubmit {
 
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  color: rgba-color($dark, 0.7);
  background-color: $light;
  transition: all 0.2s ease;
  border: none;

  &:hover {
    background-color: dodgerblue;
    color: $light;
  }

  &:hover {
    &:before {
      animation: move-light 0.7s;
    }
  }
}

@keyframes move-light {
  from {
    transform: translateX(-4em) skewX(-45deg);
  }
  to {
    transform: translateX(50em) skewX(-45deg);
  }
}
/* api.imgur.com/oauth2/addclient
 */