@import "../../../../../../style/variables.scss";






.buttonClass{
  height: 30px;
  min-height: 30px;;
    border:none;
    outline: none;
  width: unset;
  min-width: 80px;
  width: 100%;
  max-width: 120px;
  font-size: 16px;
  color: rgba-color($dark, 0.7);
  background-color: $light;


  &:hover {
    background-color: dodgerblue;
    color: $light;
  }

  &:hover {
    &:before {
      animation: move-light 0.7s;
    }
  }

  &:before {
   
    width: 1.5em;   

}}


.form{
    
    animation: slide-down 300ms ease-out forwards;
    margin-top:20px;
    margin-inline:auto;
    max-width: 1024px;
    margin-inline:auto;
    width: 80%;
  display:flex;
  &>input{
    color:black;
      flex-grow:1;
      height: 30px;
      padding-block:5px;
      padding-inline:10px;
      border:none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      
      outline: none;
    }

    &>button{
      padding: unset;;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    
}

@keyframes move-light {
    from {
      transform: translateX(-4em) skewX(-45deg);
    }
    to {
      transform: translateX(12em) skewX(-45deg);
    }
  }

  @keyframes slide-down {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }