
@import "../../style/variables.scss";

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba-color($dark,0.55);
}



.defaultModal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px  rgba-color($dark,0.25);;
  z-index: 30;
  background-color: rgba-color($info,0.55);
  animation: slide-down 300ms ease-out forwards;
  display:flex;
  flex-direction: column;
  gap:10px;
  border:2px solid $light;

}




 @media (min-width: 768px) {
    
}

@keyframes slide-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 


.close{
  align-self:end;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items:center;
  justify-content: center;
  background-color:$dark; 
  align-self: flex-end;
  span{
      width: 50%;
      height: 2px;
      background-color: rgba-color($light,0.7);;

  }
}